.battle-arena {
    display: flex;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    
    // Responsive: En celular se apilan
    @media (max-width: 768px) {
        flex-direction: column;
    }
}
    
        
