.bar-container {
    background:$color-bg;
    height: 10px;
    border-radius: 5px;
    margin-top: 5px;
    overflow: hidden;
}
.bar-fill {
    height: 100%;
    transition: width 0.5s ease;
    
    &.hp{
        background-color: #00b894 ;
    }
    &.mana {
        background-color: $color-mana;
    }
}
.boss {
    background-color: $color-boss;
}