@use '../abstracts/variables' as *;
.bar-container {
    background:#555;
    height: 10px;
    border-radius: 5px;
    margin-top: 5px;
    overflow: hidden;
}
.bar-fill {
    height: 100%;
    transition: width 0.5s ease; //animación suave
    
    &.hp{
        background-color: $color-hp;
    }
    &.mana {
        background-color: $color-mana;
    }
}
// Override específico: Boss tiene la barra de vida roja
.boss .bar-fill.hp { 
    background-color: $color-boss; 
}