.figther-card {
    flex: 1;
    background-color: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 12px;
    border: 2px solid grey;

    &.hero {
        border-color: $color-hero;
    }
    &.boss {
        border-color: $color-boss;
    }
}
.avatar {
    font-size: 3.75rem;
    text-align: center;
    margin-bottom: 10px;
}